@font-face {
    font-family: 'Google Sans Regular';
    src: url('assets/ProductSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Google Sans Bold';
    src: url('assets/ProductSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Display Regular';
    src: url('assets/SF-Pro-Display-Light.otf') format('woff');
}

@media only screen and (min-width: 840px) {

}

body {
    background-color: #080808;
    /*background: linear-gradient(to left, #292929, #000000);*/
}
/*
.container {
    width: 90%;
    max-width: 1415px;
    margin-left: auto;
    margin-right: auto;
}
*/

h1 {
    font-family: 'Google Sans Bold';
}

.mainText{
    font-family: 'Google Sans Bold', 'Inter';
    color: #ffffff;
    margin-top: 20px;
}

.mainText h1 {
    font-size: 6vw;
    margin: 5px;
    margin-left: 40px;
    margin-right: 0px;
}

.mainText button {
    font-size: 30px;
    background-color: #007BFF;
    color: white;
    border: black 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin-left: 40px;
    font-family: 'Google Sans Bold', 'Inter';
}

.mainText button:hover {
    cursor: pointer;
    background-color: #0c498a;
    border-color: white;

}

.word {
    color: #007BFF;
    display: inline-block;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.mainText h2 {
    padding-left: 40px;
    width: 900px;
    font-size: 25px;
    font-family: 'Funnel Sans';
    font-weight: 400;
}

/* Scrollbar 

.scroll-container {
    display: flex;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: rgba(128, 128, 128, 0.5); /* Semi-transparent gray 
    align-items: center;
    white-space: nowrap;
    position: relative;
    margin-top: 25px;
    margin-bottom: 20px;
}

.scroll-content {
    display: flex;
    animation: scroll 40s linear infinite;
    width: max-content; /* Ensures content stretches infinitely
}
*/
.scroll-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    /*background: rgba(128, 128, 128, 0.5);*/
    white-space: nowrap;
    position: relative;
    margin-top: 25px;
    margin-bottom: 20px;
}

.scroll-content {
    display: flex;
    animation: scroll 40s linear infinite !important;
    width: max-content;
    height: 100%;
    align-items: center;
}

.scroll-content img {
    margin: 0 15px;
    height: 50px;
    width: auto;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* -------------------------------- */

.page_2 {
    height: auto;
    background: white;
    padding-bottom: 100px;
}

.page_2 h1 {
    font-family: 'Google Sans Bold', 'Inter';
    font-size: 7vw;
    margin: 5px;
    padding-top: 150px;
    margin-left: 40px;
    margin-right: 0px;
    display: inline-block;
    vertical-align: middle;
}

.pillars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*margin: 20px;*/
}

.pillar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-radius: 10px;
    font-family: 'Google Sans Bold', 'Inter';
    font-size: 20px;
    width: 21%;
    margin-left: 20px; /* Add space between pillars */
}

.line {
    width: 100%;
    border-bottom: 2px solid black;
}

.pillar h2 {
    margin: 5px;
    color: #007BFF;
}

.pillar p {
    margin: 5px;
    font-family: 'Funnel Sans';
    font-size: 20px;
}

.pillar img {
    width: 50px;
    height: auto;
}

.page-2-desc {
    font-family: 'Google Sans Regular', 'Inter';
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

/* -------------------------------- */

.page_3 {
    height: auto;
    background: #171717;
    padding-bottom: 100px;
}

.page_3 h1 {
    font-family: 'Google Sans Bold', 'Inter';
    font-size: 7vw;
    margin: 0px;
    padding-top: 150px;
    margin-left: 40px;
    margin-right: 0px;
    color: white;
}

.page_3 p {
    font-family: 'Google Sans Regular', 'Inter';
    font-weight: 100;
    font-size: 60px;
    margin: 0px;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 0px;
    color: white;
}

.page-3-break {
    display: none;
}

.page-3-number {
    color: #007BFF;
}

.page_4 h2 {
    font-family: 'SF Display Regular';
    font-size: 70px;
    margin: 0px;
    text-align: center;
    padding-top: 90px;
    color: white;
    padding-bottom: 50px;
}

.page_4 h1 {
    font-family: 'Google Sans Bold', 'Inter';
    font-size: 7vw;
    margin: 0px;
    padding-top: 60px;
    margin-left: 40px;
    margin-right: 0px;
    color: white;
}

.page-4-button {
    font-size: 30px;
    background-color: #007BFF;
    color: white;
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
    margin-left: 40px;
    font-family: 'Google Sans Bold', 'Inter';
}

.page-4-button:hover {
    cursor: pointer;
    background-color: #0c498a;
    border-color: white;
}

.left-side {
    display: inline-block;
}

.right-side {
    padding-top: 60px;
    display: block;
    color: white;
    font-family: 'SF Display Regular';
    margin-right: 40px;
    float: right;
    width: 30%;
}

.right-side h3 {
    font-size: 30px;
    max-width: 600px;
    width: fit-content;
    margin-top: 20px;
}

.right-side h4 {
    font-size: 25px;
    max-width: 600px;
    width: fit-content;
}

.right-side p {
    font-size: 20px;
    max-width: 600px;
    width: fit-content;
}

.right-side a {
    font-size: 20px;
    color: #007BFF;
    border: black 0px solid;
    font-family: 'Google Sans Bold', 'Inter';
    text-decoration: none;
}

.right-side a:hover {
    cursor: pointer;
}

.bottom-line {
    margin-top: 40px;
    margin-bottom: 0;
}

.bottom-container {
    height: fit-content
}

.footer {
    background-color: white;
    padding: 0;
    margin: 0;
    height: auto;
}

.footer p {
    font-family: 'Google Sans Regular', 'Inter';
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 0;
}
