@font-face {
    font-family: 'Google Sans Regular';
    src: url('assets/ProductSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Google Sans Bold';
    src: url('assets/ProductSans-Bold.ttf') format('truetype');
}

@media only screen and (max-width: 840px) {
    .navbar {
        bottom: 20px;
        left: 50%; 
        top: auto !important;
        transform: translateX(-50%);
        width: 80%; /* Wider for easier navigation */
        height: 8vw; /* More padding for touch */
    }

    body {
        background-color: black !important;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .mainText h1 {
        font-size: 10vw; /* Adjust based on screen size */
        padding-left: 0px;
        margin: 20px;
        text-align: center;
    }
    
    .mainText h2 {
        padding-left: 0px;
        width: 90%;
        text-align: center;
        font-size: 4.5vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .mainText button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 20px;
        font-size: 5vw;
    }

    .scroll-container {
        height: 50px;
    }

    .scroll-content img {
        height: 30px;
    }

    .page_2 h1 {
        padding-top: 50px;
        padding-left: 0px;
        width: 90%;
        text-align: center;
        font-size: 13vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .pillars {
        flex-direction: column;
        align-items: center;
    }

    .pillar {
        width: 90%;
        margin-bottom: 10px; /* Add space between pillars */
        margin-left: auto;
    }

    /* -----------Page 3--------------- */

    .page_3 h1 {
        padding-top: 50px;
        padding-left: 0px;
        width: 90%;
        text-align: center;
        font-size: 11vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .page_3 p {
        padding-left: 0px;
        width: 90%;
        text-align: center;
        font-size: 7vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .page-3-break {
        display: block;
    }

    .page-3-number {
        font-size: 10vw;
    }

     /* -----------Page 4--------------- */

     .page_4 h2 {
        padding-top: 50px;
        padding-left: 0px;
        width: 90%;
        text-align: center;
        font-size: 9vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
     }

     .left-side {
        display: block;
     }

     .page_4 h1 {
        padding-top: 50px;
        padding-left: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 11vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
     }

     .page_4 button {
        padding: 20px;
        font-size: 5vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
     }

     .right-side {
        display: block;
        float: none;
        width: 90%;
        margin-left: auto;
        padding-left: 10px;
        margin-right: auto;
        padding-top: 40px;
     }

     .footer {
        margin-top: 30px !important;
        padding-bottom: 90px !important;
     }

}
